.cabecalhoPrincipal .container{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.cabecalhoPrincipal-nav {
  display: flex;
  margin-left: 20px;
}

.conteudoPrincipal-cursos{
  display: flex;
  flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link{
  width: 23%;
  margin-bottom: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
  margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
  margin-left: 0;
}

.videoSobre .container{
  display: flex;
}



.videoSobre-sobre{
display: flex;
text-align: center;
flex-direction: column;
flex-grow: 1;
align-items: center;

}
.videoSobre-video{
  flex-grow: 1;
  flex-shrink: 2;
}

.videoSobre-sobre-list{
  flex-grow: 1;
}




.rodapePrincipal-navMap-list{
  display: flex;
flex-flow: column wrap;
  height: 260px;
}


.rodapePrincipal-patrocinadores .container{
  display:flex;
  justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin-right: 5%;

}

.rodapePrincipal-contatoForm{
  width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
  display: flex;
}

/* Mobile */

@media(max-width: 768px){
.cabecalhoPrincipal .container{
  flex-direction: column;
}
.cabecalhoPrincipal-nav {
  text-align: center;
  flex-direction: column;
align-items: initial;
width: 100%;
margin:0;
}


.conteudoPrincipal-cursos-link{
width: 100%;
}

.conteudoPrincipal-cursos{ 
  flex-direction: column;
}

.rodapePrincipal-navMap-list{
  height: auto;
}

.rodapePrincipal-patrocinadores .container{
  display:flex;
  flex-direction: column;  
  align-items: center;
}

.rodapePrincipal-contatoForm{
  width: 100%;
  margin: 0
}

.rodapePrincipal-contatoForm-fieldset{
  justify-content: center;
}

.rodapePrincipal-patrocinadores-list{
margin-bottom: 10px;

}
.cabecalhoPrincipal-nav-link-app{
  order: -1;
}
.videoSobre .container{
  flex-direction: column;
  }

  .videoSobre-video{
    margin: 0auto;
  }

  .rodapePrincipal-patrocinadores-list-link{
    margin-left: 10px;
  }
}


